---
import "../styles/style.css";
---

<main class="flex-1 grid place-items-center">
  <section class="w-full">
    <div class="mx-auto max-w-xl">
      <div
        class="p-6 frosted bg-white/3 rounded-2xl border border-white/6 shadow-2xl"
      >
        <div class="flex gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.332-7.257 3 3 0 0 0-3.758-3.848 5.25 5.25 0 0 0-10.233 2.33A4.502 4.502 0 0 0 2.25 15Z"
            ></path>
          </svg>

          <p class="text-sm text-slate-300 mb-4">
            Write your tasks and do your tasks !
          </p>
        </div>

        <form id="todoForm" class="flex items-center gap-4">
          <label for="newTodo" class="sr-only">add a todo</label>
          <input
            id="newTodo"
            type="text"
            placeholder="Type something..."
            autocomplete="off"
            class="flex-1 rounded-full py-3 px-4 bg-white/6 placeholder:text-slate-400 outline-none ring-1 ring-white/3 focus:ring-2 focus:ring-primary transition frosted"
          />

          <button
            id="addBtn"
            aria-label="Add todo"
            class="w-14 h-14 rounded-full bg-gradient-to-br from-purple-500 to-indigo-500 shadow-lg flex items-center justify-center transform transition hover:scale-105 active:scale-95"
          >
            <svg
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              aria-hidden
            >
              <path
                d="M12 5v14M5 12h14"
                stroke="white"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div id="todoList">
      <div
        class="flex justify-between mx-auto max-w-xl my-5 p-6 frosted bg-white/3 rounded-2xl border border-white/6 shadow-2xl"
      >
        <p>just for test</p>
        <div class="flex gap-3">
          <button
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-red-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              ></path>
            </svg>
          </button>
          <button
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-green-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="module">
  import {
    state,
    addTodo,
    getTodos,
    loadTodos,
  } from "../../public/state/state.js";

  const addBtnEL = document.querySelector("#addBtn");
  const inputEL = document.querySelector("#newTodo");
  const todoListEL = document.querySelector("#todoList");

  loadTodos();
  renderTodos();

  function renderTodos() {
    todoListEL.innerHTML = "";
    const todos = getTodos();

    todos.forEach((todoText, index) => {
      const todoItem = document.createElement("div");
      todoItem.className =
        "flex justify-between mx-auto max-w-xl my-3 p-6 frosted bg-white/3 rounded-2xl border border-white/6 shadow-2xl";

      todoItem.innerHTML = `
      <p>${todoText}</p>
      <div class="flex gap-3">
        <button data-index="${index}" class="deleteBtn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke-width="1.5" stroke="currentColor"
               class="size-6 text-red-600">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9
                 m9.968-3.21c.342.052.682.107 1.022.166
                 m-1.022-.165L18.16 19.673a2.25 2.25
                 0 0 1-2.244 2.077H8.084a2.25 2.25
                 0 0 1-2.244-2.077L4.772 5.79
                 m14.456 0a48.108 48.108 0 0 0-3.478-.397
                 m-12 .562c.34-.059.68-.114 1.022-.165
                 m0 0a48.11 48.11 0 0 1 3.478-.397
                 m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201
                 a51.964 51.964 0 0 0-3.32 0
                 c-1.18.037-2.09 1.022-2.09 2.201v.916
                 m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        </button>
        <button
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-green-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              ></path>
            </svg>
          </button>
      </div>
    `;

      todoListEL.appendChild(todoItem);
    });
  }

  function submitHandler() {
    const todoText = inputEL.value.trim();

    if (!todoText) {
      alert("WRITE SOMETHING . . .");
      return;
    }

    if (todoText.includes("<script>")) {
      inputEL.value = todoText.replace("<script>", "");
      alert("DONT USE SCRIPT I SEE YOU !");
      return;
    }
    addTodo(todoText);
    renderTodos();
    inputEL.value = "";
  }

  addBtnEL.addEventListener("click", submitHandler);

  inputEL.addEventListener("keydown", (event) => {
    if (event.key === "Enter") {
      event.preventDefault();
      submitHandler();
    }
  });
</script>
